{% extends 'admin/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>View Video</h1>
    
    <div class="card mb-4">
        <div class="card-header">
            <h5>Video Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 font-weight-bold">ID:</div>
                <div class="col-md-10">{{ video.id }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 font-weight-bold">Unit:</div>
                <div class="col-md-10">{{ video.unit_id }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 font-weight-bold">Title:</div>
                <div class="col-md-10">{{ video.title }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 font-weight-bold">YouTube URL:</div>
                <div class="col-md-10">
                    <a href="{{ video.youtube_url|youtube_watch_url }}" target="_blank">
                        {{ video.youtube_url|youtube_watch_url }}
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 font-weight-bold">Description:</div>
                <div class="col-md-10">{{ video.description }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 font-weight-bold">Preview:</div>
                <div class="col-md-10">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ video.youtube_url|youtube_embed_url }}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-4">
        <a href="{{ url_for('admin_edit_video', video_id=video.id) }}" class="btn btn-warning">
            <i class="fas fa-edit"></i> Edit
        </a>
        <a href="{{ url_for('admin_manage_content') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to Content
        </a>
    </div>
</div>
{% endblock %}
